@model Category

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr/>
        </div>
        @* <div asp-validation-summary="All"></div> *@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

@* The label text is automatically the name of the property specified in the asp-for tag helper *@

@* asp-validation-for checks the requirements of the mentioned field (e.g: Name) then displays the corresponding error *@
@* Line 20: in a Form of method="post", the button type="submit" submits whatever data is entered and posts it
    to the server. In our case: this form data goes to the controller of this view (CategoryController) and there it
    looks for the post field????
*@