@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section">
    <h1 class="big-heading typing" id="hero-heading"><span>Shop Conveniently.</span> Shop Whatever, Whenever</h1>
    <aside>
        <img src="~/images/Nickname-your-payment-options.png" id="hero-image" />
    </aside>
            
</section>

<a asp-controller="Category" asp-action="Index" class="btn btn-primary go-to-track">Go To Shopping Tracker</a>
@* 
<section class="body-section">
    <div id="text-div">
        <h2 class="big-heading"><span>Manage your shopping spree</span> <br /> with our shopping tracker.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsa facilis dicta nesciunt cum <br /> consequatur animi modi nostrum vel tempore.</p>
    </div>
    <aside>
        <img src="~/images/marketplace-placeholder 1.svg" />
    </aside>
</section>

<section class="body-section">
    <div id="text-div">
        <h2 class="big-heading"><span>Get up to date</span> with promotions/specials.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsa facilis dicta nesciunt cum <br /> consequatur animi modi nostrum vel tempore.</p>
    </div>
    <aside>
        <img src="~/images/marketplace-placeholder 1.svg" />
    </aside>
</section> *@